/* Layout */

body {
	background-color: #4A5D23;
	color: #ffffff;
	display: block;
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

section{
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	z-index: 1;
}

h1{
	font-size: 20px;
}

p{
	font-size: 16px;
	line-height: 155%;
}

input[type='checkbox'] {
	display: none;
}

input:checked + label + article { 
	display: none; 
}

input:not(:checked) + label + article + article { 
	display: none; 
}

input:checked + label + article + article {
	display: block;
}

input + label:after {
	content: "en";
}

input:checked + label:after {
	content: "es";
}

label {
    font-size: 16px;
    cursor: pointer;
}

.grain{
  height: 100%;
}

.grain:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(imgs/pattern.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: 0;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@media screen and (max-width: 500px) {
  h1{
		font-size: 16px;
	}

	p{
		font-size: 12px;
	}
}
