*{
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html {
  font-size: clamp(1rem, 1vw, 1.2rem);
}

body {
  line-height: 1.6;
  font-family: system-ui, sans-serif;
  color: var(--text-color, #000);
  background-color: var(--bg-color, #fff);
  padding: min(5vw, 2rem);
}

blockquote {
	border-left: 1px solid #000;
	font-style: italic;
	padding-left: 10px;
}

em {
	font-style: normal;
}

a, a:visited{
	color: #000;
	text-decoration: underline;
}

a:hover{
	color:rgba(0,0,0,0.5);
	cursor: pointer;
}

section, footer{
	margin: 0 auto;
	max-width: 600px;
	position: relative;
	z-index: 1;
}

input[type='checkbox'] {
	display: none;
}

input:checked + label + article { 
	display: none; 
}

input:not(:checked) + label + article + article { 
	display: none; 
}

input:checked + label + article + article {
	display: block;
}

input + label:after {
	content: "EN";
}

input:checked + label:after {
	content: "🇲🇽";
	font-size: 24px;
}

label {
	cursor: pointer;
	float: right;
  font-size: 16px;
  margin: 0 auto;
  position: relative;
  top: 1px;
}

.seed img {
	width: 100%;
}

.seeds{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}

.seeds .seed{
	flex: 1;
	padding: 10px 10px 0 10px;
	width: 32%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@media (max-width: 500px) {
  
  .seeds {
    display: block;
  }

  .seeds .seed{
  	width: 100%;
  }

}
