*{
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #023020;
	color: #ffffff;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 155%;
	margin: 0;
	padding: 10px;
	width: 100%;
}

section, footer{
	margin: 0 auto;
	max-width: 500px;
	position: relative;
	z-index: 1;
}

h1{
	font-size: 22px;
	overflow: hidden;
}

h1::before {
	background-color: transparent;
	clip: rect(10px, 377px, 87px, 0px);
	color: #fff;
  content: attr(data-text);
  left: 2px;
  overflow: hidden;
  position: absolute;
	top: 7px;
  width: 400px;
}

input[type='checkbox'] {
	display: none;
}

input:checked + label + article { 
	display: none; 
}

input:not(:checked) + label + article + article { 
	display: none; 
}

input:checked + label + article + article {
	display: block;
}

input + label:after {
	content: "en";
}

input:checked + label:after {
	content: "es";
}

label {
	cursor: pointer;
	float: right;
  font-size: 16px;
}

aside{
  height: 100%;
}

aside:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(imgs/pattern.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.35;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: 0;
}

footer {
	color: black;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@media screen and (max-width: 500px) {
  h1{
		font-size: 16px;
	}

	p{
		font-size: 12px;
	}
}
